@font-face {
    font-family: 'gotham_bookregular';
    src: url('./fonts/webfontkit-20180223-142418/gotham-book-webfont.woff2') format('woff2'),
         url('./fonts/webfontkit-20180223-142418/gotham-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gotham_lightregular';
    src: url('./fonts/webfontkit-20180223-150041/copyfonts.com_gotham-light-webfont.woff2') format('woff2'),
         url('./fonts/webfontkit-20180223-150041/copyfonts.com_gotham-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: white;
    color: rgb(202, 202, 202);
    font-family: 'gotham_lightregular';
    letter-spacing: 3px;
}

.navbar {
    background-color: white;
    color: rgb(194, 194, 194);
    border: none;
}

.navbar.center .navbar-inner {
    text-align: center;
}

.navbar.center .navbar-inner .nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar-nav .array-open {
    margin-left: 0;
    padding-left: 0;
    margin-right: -60px;
}

.navbar-nav .array-close {
    margin-right: 0;
    padding-right: 0;
}
.navbar-nav li {
    display: flex;
    width: 100px;
    padding: 20px 90px;
    font-size: 12px;
}

.navbar a {
    background-color: white !important;
    color: rgb(194, 194, 194) !important;
}

.navbar a:hover {
    background-color: white !important;
    color: rgb(156, 156, 156) !important;
}

.navbar .dot {
    display: none;
    margin-top: 12px;
    font-size: 20px;
}

.navbar .active .dot {
    display: unset;
}

.navbar .home-dot {
    /* width: 80px !important; */
    /* border-bottom: 1px solid rgb(3, 219, 219); */
    color: rgb(214, 212, 206);
}

.navbar .about-dot {
    color: rgb(228, 180, 23);
}

.navbar .portfolio-dot {
    color: rgb(23, 228, 184);
}

.navbar .contact-dot {
    color: rgb(200, 212, 19);
}

.navbar a[disabled] {
    pointer-events: none;
}

.hero h1 {
    margin: 15% 0px 10px;
    line-height: 50px;
    letter-spacing: 4px;
}

.hero #hire-me-div {
    position: relative;
    overflow: hidden;
    width: 120px;
    height: 100px; 
    margin: auto;
}

.hero #slide {
    position: absolute;
    left: -120px;
    width: 100%;
    margin: 0 auto;
    transition: 1s;
}

.hero #slide button {
    border: none;
    background-color: white;
    color: inherit;
    padding: 5px 10px;
    border-bottom: 10px solid rgb(214, 212, 206);
    border-radius: 0;
    letter-spacing: 5px;
}

.hero #slide.show {
    left: 0px;
    transition: 1s;
}

@media only screen and (max-width: 1140px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        /* margin-bottom: -5%; */
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>.array-open,
    .navbar-nav>.array-close {
        display: none;
    }
    .navbar-nav>li {
        display: inherit;
        /* display: block; */
        padding: 0;
        float: none;
    }
    .navbar-nav>.active>a {
        width: auto !important;
        margin: auto !important;
        border-bottom: 1px solid rgb(214, 212, 206);
    }
    .navbar-nav>.active>.dot {
        display: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

@media only screen and (max-width: 768px) {
    .navbar-collapse {
        margin-bottom: -5%;
    }

    .navbar-nav>li {
        display: block;
    }

    .hero-content h1 {
        font-size: 30px;
    }
}