@font-face {
    font-family: 'gotham_bookregular';
    src: url('./fonts/webfontkit-20180223-142418/gotham-book-webfont.woff2') format('woff2'),
         url('./fonts/webfontkit-20180223-142418/gotham-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gotham_lightregular';
    src: url('./fonts/webfontkit-20180223-150041/copyfonts.com_gotham-light-webfont.woff2') format('woff2'),
         url('./fonts/webfontkit-20180223-150041/copyfonts.com_gotham-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: white;
    color: rgb(202, 202, 202);
    font-family: 'gotham_lightregular';
    letter-spacing: 3px;
}

.navbar {
    background-color: white;
    color: rgb(194, 194, 194);
    border: none;
}

.navbar.center .navbar-inner {
    text-align: center;
}

.navbar.center .navbar-inner .nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar-nav .array-open {
    margin-left: 0;
    padding-left: 0;
    margin-right: -60px;
}

.navbar-nav .array-close {
    margin-right: 0;
    padding-right: 0;
}
.navbar-nav li {
    display: flex;
    width: 100px;
    padding: 20px 90px;
    font-size: 12px;
}

.navbar-nav li a {
    padding-left: 5px;
}

.navbar a {
    background-color: white !important;
    color: rgb(194, 194, 194) !important;
}

.navbar a:hover {
    background-color: white !important;
    color: rgb(156, 156, 156) !important;
}

.navbar .dot {
    display: none;
    margin-top: 12px;
    font-size: 20px;
}

.navbar .active .dot {
    display: unset;
}

/* .navbar .portfolio-dot {
    color: #ffb611;
} */

.navbar a[disabled] {
    pointer-events: none;
}

.wrapper {
    position: relative;
}

.block {
    font-family: 'gotham_bookregular';
    font-weight: bolder;
    position: fixed;
    color: black;
    letter-spacing: 1px;
    font-size: 11px;
    cursor: pointer;
}

.category {
    position: relative;
    top: 17px;
}

.accent {
    width: 188px;
    height: 27px;
}

.design-block {
    left: 6%;
    top: 14%;

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

.design-label {
    left: 10px;
}

.salmon {
    background-color: #ff7271;
}

.dev-block {
    left: 30%;
    top: 33%;

    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
}

.dev-label {
    left: 30px;
}

.orangish {
    background-color: #ff893e;
}

.art-block {
    right: 32%;
    top: 53%;

    -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 4s; /* Firefox < 16 */
        -ms-animation: fadein 4s; /* Internet Explorer */
         -o-animation: fadein 4s; /* Opera < 12.1 */
            animation: fadein 4s;
}

.art-label {
    left: 50px;
}

.orange {
    background-color: #ffa000;
}

.photography-block {
    right: 6%;
    top: 73%;

    -webkit-animation: fadein 4.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 4.5s; /* Firefox < 16 */
        -ms-animation: fadein 4.5s; /* Internet Explorer */
         -o-animation: fadein 4.5s; /* Opera < 12.1 */
            animation: fadein 4.5s;
}

.photography-label {
    left: 75px;
}

.yellow {
    background-color: #ffb611;
}

#comingSoonDesignModal,
#comingSoonModal2 {
    margin-top: 20rem;
}

#comingSoonDesignModal .modal-content,
#comingSoonModal2 .modal-content {
    text-align: center;
    color: grey;
    letter-spacing: 2px;
    padding-top: 37px;
    width: 50%;
    margin: auto;
    height: 100px;
}

#comingSoonDesignModal .close {
    position: absolute;
    top: 5px;
    right: 10px;
}

#comingSoonDesignModal .modal-content {
    height: 120px;
}

#comingSoonDesignModal .modal-content p {
    margin: 0 20px;
}

#comingSoonDesignModal .modal-content p a {
    color: #c0c0c0;
}

.footer {
    margin-left: 5px;
    font-size: 12px;
    letter-spacing: 1px;
    color: rgb(194, 194, 194);
}

/****************
*   KEYFRAMES   *
****************/

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/****************
* MEDIA QUERIES *
****************/

@media only screen and (max-width: 1140px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        /* margin-bottom: -5%; */
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>.array-open,
    .navbar-nav>.array-close {
        display: none;
    }
    .navbar-nav>li {
        display: inherit;
        /* display: block; */
        padding: 0 10px;
        float: none;
    }
    .navbar-nav .about-link {
        margin-left: -10px;
    }
    .navbar-nav .contact-link {
        margin-left: 15px;
    }
    .navbar-nav>.active>a {
        width: 85px !important;
        margin: auto !important;
        border-bottom: 1px solid rgb(214, 212, 206);
    }
    .navbar-nav>.active>.dot {
        display: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in {
        display:block !important;
        margin-bottom: 5px !important;
    }

    .design-block {
        top: 20%;
    }

    .dev-block {
        top: 37%;
    }

    .art-block {
        top: 55%;
    }

    .photography-block {
        top: 73%;
    }
}

@media only screen and (max-width: 768px) {
    .collapse.in {
        margin-bottom: 20px !important;
    }

    /* .navbar-nav>li {
        display: block;
    } */

    .navbar-nav>li {
        padding: 0 5px;
    }

    .navbar-nav>.active>a {
        width: auto !important;
        margin: auto !important;
        margin-left: 5px !important;
        padding-left: 5px !important;
        padding-right: 60px !important;
        margin-right: 5px !important;
        border-bottom: 1px solid rgb(214, 212, 206);
    }

     .navbar-nav .contact-link {
        margin-right: -20px;
    }

    #comingSoonDesignModal .modal-content,
    #comingSoonModal2 .modal-content {
        width: 65%;
    }

    #comingSoonDesignModal .modal-content {
        padding-top: 28px;
    }

    #comingSoonDesignModal .modal-content p {
        margin: 0 25px;
    }
}

@media only screen and (max-width: 468px) {
    .navbar-nav>li {
       padding: 0;
       letter-spacing: 1px;
       width: 22%;
    }
}