@font-face {
    font-family: 'gotham_bookregular';
    src: url('./fonts/webfontkit-20180223-142418/gotham-book-webfont.woff2') format('woff2'),
         url('./fonts/webfontkit-20180223-142418/gotham-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gotham_lightregular';
    src: url('./fonts/webfontkit-20180223-150041/copyfonts.com_gotham-light-webfont.woff2') format('woff2'),
         url('./fonts/webfontkit-20180223-150041/copyfonts.com_gotham-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: white;
    color: rgb(202, 202, 202);
    font-family: 'gotham_lightregular';
    letter-spacing: 3px;
}

.navbar {
    background-color: white;
    color: rgb(194, 194, 194);
    border: none;
}

.navbar.center .navbar-inner {
    text-align: center;
}

.navbar.center .navbar-inner .nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar-nav .array-open {
    margin-left: 0;
    padding-left: 0;
    margin-right: -60px;
}

.navbar-nav .array-close {
    margin-right: 0;
    padding-right: 0;
}
.navbar-nav li {
    display: flex;
    width: 100px;
    padding: 20px 90px;
    font-size: 12px;
}

.navbar-nav li a {
    padding-left: 5px;
}

.navbar a {
    background-color: white !important;
    color: rgb(194, 194, 194) !important;
}

.navbar a:hover {
    background-color: white !important;
    color: rgb(156, 156, 156) !important;
}

.navbar .dot {
    display: none;
    margin-top: 12px;
    font-size: 20px;
}

.navbar .active .dot {
    display: unset;
}

/* .navbar .portfolio-dot {
    color: #ffb611;
} */

.navbar a[disabled] {
    pointer-events: none;
}

#workInProgressModal {
    margin-top: 18rem;
}

.modal-backdrop.in {
    opacity: 0.7;
}

#workInProgressModal .modal-content {
    color: grey;
    font-size: 13.5px;
    letter-spacing: 0.5px;
    padding-top: 7%;
    width: 70%;
    margin: auto;
    height: 150px;
}

#workInProgressModal .close {
    position: absolute;
    top: 5px;
    right: 10px;
}

#workInProgressModal .modal-content p {
    margin: 0 50px;
}

#workInProgressModal .modal-content p a {
    color: #c0c0c0;
}

.portfolio {
    width: 90%;
    margin: 0 auto;
}

.gallery {
    width: 100%;
    margin: 0 auto;
	padding: 0px 20px 40px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.gallery figure {
    padding: 15px 15px 30px;
    position: relative;
}

.gallery img {
	width: 320px;
    height: 190px;
    border-radius: 5px;
}

/* .gallery .details {
    opacity: 0;
    text-align: center;
    position: absolute;
    width: 100%;
    margin: auto;
    top: 90px;
} */

figcaption {
    opacity: 0;
    /* color: rgb(190, 190, 190); */
    color: rgb(163, 163, 163);
    font-size: 12px;
    letter-spacing: 1px;
    position: absolute;
    top: -5px;
}

/* figcaption {
    font-size: 12px;
    letter-spacing: 2px;
	width: 320px;
	height: 40px;
	padding-top: 3.6%;
	position: relative;
    bottom: 50px;
	color: rgb(158, 158, 158);
    background-color: white;
} */

/****************
* MEDIA QUERIES *
****************/

@media only screen and (max-width: 1140px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        /* margin-bottom: -5%; */
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>.array-open,
    .navbar-nav>.array-close {
        display: none;
    }
    .navbar-nav>li {
        display: inherit;
        /* display: block; */
        padding: 0;
        float: none;
    }
    .navbar-nav .about-link {
        margin-left: -10px;
    }
    .navbar-nav .contact-link {
        margin-left: 15px;
    }
    .navbar-nav>.active>a {
        width: 85px !important;
        margin: auto !important;
        margin-left: 5px !important;
        border-bottom: 1px solid rgb(214, 212, 206);
    }
    .navbar-nav>.active>.dot {
        display: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in {
        display:block !important;
    }
}

@media only screen and (max-width: 768px) {
    .navbar-nav>.active>a {
        width: auto !important;
        margin: auto !important;
        margin-left: 5px !important;
        padding-left: 5px !important;
        padding-right: 60px !important;
        margin-right: 5px !important;
        border-bottom: 1px solid rgb(214, 212, 206);
    }

    .navbar-nav .contact-link {
        margin-right: -20px;
    }
}

@media only screen and (max-width: 468px) {
    .navbar-nav>li {
       padding: 0;
       letter-spacing: 1px;
       width: 22%;
    }
}

@media only screen and (max-width: 320px) {
    #workInProgressModal .modal-content {
        height: 160px;
    }

    #workInProgressModal .modal-content p {
        margin: 0 30px;
    }
}